SPRING_DATASOURCE_USERNAME=movie_reservation_user
SPRING_DATASOURCE_PASSWORD=movie_reservation_pass
SPRING_DATASOURCE_DB=movie_reservation_db

STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me